# List,Tuple 
* iteration operation with loop
* apply any operation on element

### syntax of list and tuple

In [1]:
# list syntax
names:list[str] = ["Ahmad","Jawad","Moosa"]
print(names)
# tuple syntax

fruits:tuple[str,str,str]=("Banana","Apple","Mango")
print(fruits)

['Ahmad', 'Jawad', 'Moosa']
('Banana', 'Apple', 'Mango')

### iteration on list with for loop

In [3]:
names:list[str]=["Ahmad","Moosa","Jawad"]

for name in names:
 print("name is",name)

name is Ahmad
name is Moosa
name is Jawad

### iteration on tuple with for loop

In [4]:
fruits:tuple[str,str,str]=("Apple","Banana","Kiwi")

for fruit in fruits:
 print("my favourite fruit is",fruit)

my favourite fruit is Apple
my favourite fruit is Banana
my favourite fruit is Kiwi

### iteration on list with while loop

In [9]:
names:list[str]=["Ahmad","Moosa","Jawad"]
i:int=0
while i<len(names):
  print("name is",names[i])  
  i+=1

name is Ahmad
name is Moosa
name is Jawad

### iteration on tuple with while loop

In [11]:
fruits:tuple[str,str,str]=("Apple","Banana","Kiwi")

i:int=0
while i<len(fruits):
  print("My favourite fruit is",fruits[i])  
  i+=1

My favourite fruit is Apple
My favourite fruit is Banana
My favourite fruit is Kiwi

### slicing in for loop

In [12]:
names:list[str] = ['Ahmad', "Moosa", "Jawad"]

for name in names[-2:]:
    print(f'My name is {name.title()}')

My name is Moosa
My name is Jawad

### iteration on tuple inside list using for loop

In [14]:
data_base : list[tuple[str,str]] = [("Ahmad",'123'),
                                    ("Jawad",'345'),
                                    ('Moosa','789')
                                    ]

for row in data_base:
    print(row)

('Ahmad', '123')
('Jawad', '345')
('Moosa', '789')

### iteration on tuple inside list using while loop

In [18]:
data_base : list[tuple[str,str]] = [("Ahmad",'123'),
                                    ("Jawad",'345'),
                                    ('Moosa','789')
                                    ]
i:int=0
while i<len(data_base):
  print(data_base[i])  
  i+=1

('Ahmad', '123')
('Jawad', '345')
('Moosa', '789')

### break keyword in for loop

In [21]:
data_base : list[tuple[str,str]] = [("Ahmad",'123'),
                                    ("Jawad",'345'),
                                    ('Moosa','789')
                                    ]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")



for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print(f"Valid User {user}")
        break
else:
    print("Not found or Invalid user name")

Valid User Ahmad

### for loop with else keyword

In [22]:
names:list[str] = ['Ahmad', "Jawad", "Moosa"]

for name in names:
    print(name)
else:
    print("Hello world")

Ahmad
Jawad
Moosa
Hello world

In [23]:
names:list[str] = ['Ahmad', "Jawad", "Moosa"]

for name in names:
    print(name)
    break
else:
    print("Hello world")

Ahmad

### iteration scope

In [24]:
magicians: list[str] = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    

print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

### python indentation

In [25]:
message = "Hello Python world!" 
    print(message)

IndentationError: unexpected indent (483696993.py, line 2)

### enumerate() method , we always want to convert it into list using list() method

In [28]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [29]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

for index, name in enumerate(magicians):
    print(index, name)

0 alice
1 david
2 carolina

# Numbers with loop

* range(start,end,step)

In [30]:
range(10)

range(0, 10)

In [31]:
list(range(10))# starting=0, ending = n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
list(range(2,10))# starting=2, ending = n-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
list(range(2,21,2))# starting=0, ending = n-1 21-1=20, step=2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### iterating range of number from 1 to 10

In [35]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

### table of 2

In [36]:
for n in range(1,11):
    print(f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

### square of range 1-11 numbers

In [37]:
squares:list[int] = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List comprehensive
&nbsp;&nbsp;&nbsp;for item in items_list: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;loop_body

Comprehensive Style<br>
[loop_body for item in items_list]

### Squares using comprehnsive loop

In [39]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### methods
* max()
* min()
* sum()

In [40]:
digits:list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

In [42]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
friend_foods = my_foods[:] # deep copy

print("my_foods",my_foods)
print("freinds_foods",friend_foods)

friend_foods[0] = "Tikka"

print("my_foods",my_foods)
print("freinds_foods",friend_foods)

my_foods ['pizza', 'falafel', 'carrot cake']
freinds_foods ['pizza', 'falafel', 'carrot cake']
my_foods ['pizza', 'falafel', 'carrot cake']
freinds_foods ['Tikka', 'falafel', 'carrot cake']

### tuple slicing

In [43]:
char:tuple[str] = ('A',"B",'C')
print(char[0])
print(char[0:2])

A
('A', 'B')

In [44]:
names:tuple[str] = ('A',"B",'C')

names[0] = "Pakistan" # it throws an error

TypeError: 'tuple' object does not support item assignment

In [45]:
names:tuple[str] = ('A',"B",'C')

names:tuple[str] = ('Pakistan',"B",'C')

print(names)

('Pakistan', 'B', 'C')

### Any type in tuple

In [46]:
from typing import Any
data : tuple[Any] = ("A",[1,2,3], True)

print(data)

('A', [1, 2, 3], True)

### append method with tuple

In [47]:
data : tuple[Any] = ("A",[1,2,3], True)

print(data[1])
data[1].append(20)
print(data)

[1, 2, 3]
('A', [1, 2, 3, 20], True)

### sorted() method

In [48]:
sorted([7,8,1,3])

[1, 3, 7, 8]